<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
<meta charset="utf-8">
<title>First Post &#8211; </title>
<meta name="description" content="Demo post displaying the various ways of highlighting code in Markdown.">
<meta name="keywords" content="sample post, code, highlighting">



<!-- Open Graph -->
<meta property="og:locale" content="en_US">
<meta property="og:type" content="article">
<meta property="og:title" content="First Post">
<meta property="og:description" content="Demo post displaying the various ways of highlighting code in Markdown.">
<meta property="og:url" content="http://charlesxieyupeng.github.io/articles/code-first-post/">
<meta property="og:site_name" content="">





<link rel="canonical" href="http://charlesxieyupeng.github.io/articles/code-first-post/">
<link href="http://charlesxieyupeng.github.io/feed.xml" type="application/atom+xml" rel="alternate" title=" Feed">


<!-- http://t.co/dKP3o1e -->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- For all browsers -->
<link rel="stylesheet" href="http://charlesxieyupeng.github.io/assets/css/main.min.css">
<!-- Webfonts -->
<script src="//use.edgefonts.net/source-sans-pro:n2,i2,n3,i3,n4,i4,n6,i6,n7,i7,n9,i9;source-code-pro:n4,n7;volkhov.js"></script>

<meta http-equiv="cleartype" content="on">

<!-- Load Modernizr -->
<script src="http://charlesxieyupeng.github.io/assets/js/vendor/modernizr-2.6.2.custom.min.js"></script>

<!-- Icons -->
<!-- 16x16 -->
<link rel="shortcut icon" href="http://charlesxieyupeng.github.io/favicon.ico">
<!-- 32x32 -->
<link rel="shortcut icon" href="http://charlesxieyupeng.github.io/favicon.png">
<!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
<link rel="apple-touch-icon-precomposed" href="http://charlesxieyupeng.github.io/images/apple-touch-icon-precomposed.png">
<!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://charlesxieyupeng.github.io/images/apple-touch-icon-72x72-precomposed.png">
<!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://charlesxieyupeng.github.io/images/apple-touch-icon-114x114-precomposed.png">
<!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://charlesxieyupeng.github.io/images/apple-touch-icon-144x144-precomposed.png">

</head>

<body id="post">

<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated drop">
	    <ul>
	        
			<li>
				
					<a href="http://charlesxieyupeng.github.io/articles/">Articles</a>
				 
			</li>
	        
			<li>
				
					<a href="/theme-setup/">Theme Setup</a>
				 
			</li>
	        
			<li>
				
					<a href="http://charlesxieyupeng.github.io/about/">About</a>
				 
			</li>
	        
	        <li><a href="http://charlesxieyupeng.github.io/feed.xml" title="Atom/RSS feed"><i class="icon-rss"></i> Feed</a></li>
	        <li class="dosearch"><i class="icon-search"></i> Search</li>
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

<!--[if lt IE 9]><div class="upgrade"><strong><a href="http://whatbrowser.org/">Your browser is quite old!</strong> Why not upgrade to a different browser to better enjoy this site?</a></div><![endif]-->

<div class="search-wrapper">
	<div class="search-form">
		<input type="text" class="search-field" placeholder="Search...">
		<i class="icon-remove-sign icon-2x"></i>
		<ul class="search-results post-list"></ul><!-- /.search-results -->
	</div><!-- /.search-form -->
</div><!-- ./search-wrapper -->

<header class="masthead">
	<div class="wrap">
        
        <h1 class="site-title animated fadeIn"><a href="http://charlesxieyupeng.github.io/"></a></h1>
		<h2 class="site-description animated fadeIn" itemprop="description"></h2>
	</div>
</header><!-- /.masthead -->


<div id="main" role="main">
  <article class="hentry">
<!--      -->
    <div class="entry-wrapper">
      <header class="entry-header">
        <span class="entry-tags"><a href="http://charlesxieyupeng.github.io/tags/#sample post" title="Pages tagged sample post">sample post</a>&nbsp;&bull;&nbsp;<a href="http://charlesxieyupeng.github.io/tags/#code" title="Pages tagged code">code</a>&nbsp;&bull;&nbsp;<a href="http://charlesxieyupeng.github.io/tags/#highlighting" title="Pages tagged highlighting">highlighting</a></span>
        
          <h1 class="entry-title">First Post</h1>
        
      </header>
      <footer class="entry-meta">
        <img src="http://charlesxieyupeng.github.io/images/bio-photo.jpg" alt="Charlie Xie photo" class="author-photo">
        <span class="author vcard">By <span class="fn"><a href="http://charlesxieyupeng.github.io/about/" title="About Charlie Xie">Charlie Xie</a></span></span>
        <span class="entry-date date published"><time datetime="2014-05-06T00:00:00-04:00"><i class="icon-calendar-empty"></i> May 06, 2014</time></span>
        
        
        <span><a href="http://charlesxieyupeng.github.io/articles/code-first-post/" rel="bookmark" title="First Post"><i class="icon-link"></i> Permalink</a></span>
        
        <span class="social-share-facebook">
            <a href="https://www.facebook.com/sharer/sharer.php?u=http://charlesxieyupeng.github.io/articles/code-first-post/" title="Share on Facebook" itemprop="Facebook"><i class="icon-facebook-sign"></i> Like</a></span>
        <span class="social-share-twitter">
            <a href="https://twitter.com/intent/tweet?hashtags=articles&text=First Post&url=http://charlesxieyupeng.github.io/articles/code-first-post/&via=" title="Share on Twitter" itemprop="Twitter"><i class="icon-twitter-sign"></i> Tweet</a></span>
        <span class="social-share-googleplus">
            <a href="https://plus.google.com/share?url=http://charlesxieyupeng.github.io/articles/code-first-post/" title="Share on Google Plus" itemprop="GooglePlus"><i class="icon-google-plus-sign"></i> +1</a></span>
            <!-- /.social-share -->
      </footer>
      <div class="entry-content">
        <h3 id="java-code-blocks">Java Code Blocks</h3>

<div class="highlight"><pre><code class="java">  <span class="kn">import</span> <span class="nn">java.io.File</span><span class="o">;</span>
  <span class="kn">import</span> <span class="nn">java.io.IOException</span><span class="o">;</span>
  <span class="kn">import</span> <span class="nn">java.util.Map</span><span class="o">;</span>
  <span class="kn">import</span> <span class="nn">java.util.Scanner</span><span class="o">;</span>
  <span class="kn">import</span> <span class="nn">java.util.TreeMap</span><span class="o">;</span>

  <span class="kd">public</span> <span class="kd">class</span> <span class="nc">SimpleWordCounter</span> <span class="o">{</span>
      
      <span class="kd">public</span> <span class="kd">static</span> <span class="kt">void</span> <span class="nf">main</span><span class="o">(</span><span class="n">String</span><span class="o">[]</span> <span class="n">args</span><span class="o">)</span> <span class="o">{</span>
          <span class="k">try</span> <span class="o">{</span>
              <span class="n">File</span> <span class="n">f</span> <span class="o">=</span> <span class="k">new</span> <span class="n">File</span><span class="o">(</span><span class="s">&quot;ciaFactBook2008.txt&quot;</span><span class="o">);</span>
              <span class="n">Scanner</span> <span class="n">sc</span><span class="o">;</span>
              <span class="n">sc</span> <span class="o">=</span> <span class="k">new</span> <span class="n">Scanner</span><span class="o">(</span><span class="n">f</span><span class="o">);</span>
              <span class="c1">// sc.useDelimiter(&quot;[^a-zA-Z&#39;]+&quot;);</span>
              <span class="n">Map</span><span class="o">&lt;</span><span class="n">String</span><span class="o">,</span> <span class="n">Integer</span><span class="o">&gt;</span> <span class="n">wordCount</span> <span class="o">=</span> <span class="k">new</span> <span class="n">TreeMap</span><span class="o">&lt;</span><span class="n">String</span><span class="o">,</span> <span class="n">Integer</span><span class="o">&gt;();</span>
              <span class="k">while</span><span class="o">(</span><span class="n">sc</span><span class="o">.</span><span class="na">hasNext</span><span class="o">())</span> <span class="o">{</span>
                  <span class="n">String</span> <span class="n">word</span> <span class="o">=</span> <span class="n">sc</span><span class="o">.</span><span class="na">next</span><span class="o">();</span>
                  <span class="k">if</span><span class="o">(!</span><span class="n">wordCount</span><span class="o">.</span><span class="na">containsKey</span><span class="o">(</span><span class="n">word</span><span class="o">))</span>
                      <span class="n">wordCount</span><span class="o">.</span><span class="na">put</span><span class="o">(</span><span class="n">word</span><span class="o">,</span> <span class="mi">1</span><span class="o">);</span>
                  <span class="k">else</span>
                      <span class="n">wordCount</span><span class="o">.</span><span class="na">put</span><span class="o">(</span><span class="n">word</span><span class="o">,</span> <span class="n">wordCount</span><span class="o">.</span><span class="na">get</span><span class="o">(</span><span class="n">word</span><span class="o">)</span> <span class="o">+</span> <span class="mi">1</span><span class="o">);</span>
              <span class="o">}</span>
              
              <span class="c1">// show results</span>
              <span class="k">for</span><span class="o">(</span><span class="n">String</span> <span class="n">word</span> <span class="o">:</span> <span class="n">wordCount</span><span class="o">.</span><span class="na">keySet</span><span class="o">())</span>
                  <span class="n">System</span><span class="o">.</span><span class="na">out</span><span class="o">.</span><span class="na">println</span><span class="o">(</span><span class="n">word</span> <span class="o">+</span> <span class="s">&quot; &quot;</span> <span class="o">+</span> <span class="n">wordCount</span><span class="o">.</span><span class="na">get</span><span class="o">(</span><span class="n">word</span><span class="o">));</span>
              <span class="n">System</span><span class="o">.</span><span class="na">out</span><span class="o">.</span><span class="na">println</span><span class="o">(</span><span class="n">wordCount</span><span class="o">.</span><span class="na">size</span><span class="o">());</span>
          <span class="o">}</span>
          <span class="k">catch</span><span class="o">(</span><span class="n">IOException</span> <span class="n">e</span><span class="o">)</span> <span class="o">{</span>
              <span class="n">System</span><span class="o">.</span><span class="na">out</span><span class="o">.</span><span class="na">println</span><span class="o">(</span><span class="s">&quot;Unable to read from file.&quot;</span><span class="o">);</span>
          <span class="o">}</span>
      <span class="o">}</span>
  <span class="o">}</span>
</code></pre></div>

<nav class="pagination" role="navigation">
    {% if page.previous %}
        <a href="{{ site.url }}{{ page.previous.url }}" class="btn" title="{{ page.previous.title }}">Previous article</a>
    {% endif %}
    {% if page.next %}
        <a href="{{ site.url }}{{ page.next.url }}" class="btn" title="{{ page.next.title }}">Next article</a>
    {% endif %}
</nav>
<!-- /.pagination -->

        
      </div><!-- /.entry-content -->
    </div><!-- /.entry-wrapper -->
    <nav class="pagination" role="navigation">
      
      
    </nav><!-- /.pagination -->
  </article>
</div><!-- /#main -->

<div class="footer-wrapper">
  <footer role="contentinfo">
    <span>&copy; 2014 Charlie Xie. Powered by <a href="http://jekyllrb.com">Jekyll</a> using the <a href="http://mademistakes.com/so-simple/">So Simple Theme</a>.</span>
<div class="social-icons">
	
	
	
	
	
	
	
	
	
</div><!-- /.social-icons -->
  </footer>
</div><!-- /.footer-wrapper -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="http://charlesxieyupeng.github.io/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="http://charlesxieyupeng.github.io/assets/js/scripts.min.js"></script>

<!-- Jekyll Simple Search option -->
<script>
  $(document).ready(function() {
      $('.search-field').simpleJekyllSearch({
          jsonFile : 'http://charlesxieyupeng.github.io/search.json',
          searchResults : '.search-results',
          template : '<li><article><a href="{url}">{title} <span class="entry-date"><time datetime="{date}">{shortdate}</time></span></a></article></li>',
          noResults: '<p>Nothing found.</p>'
        });
  });

  (function( $, window, undefined ) {
    
     var bs = {
          close: $(".icon-remove-sign"),
          searchform: $(".search-form"),
          canvas: $("body"),
          dothis: $('.dosearch')
      };
    
    bs.dothis.on('click', function() {
      $('.search-wrapper').css({ display: "block" });
      bs.searchform.toggleClass('active');
      bs.searchform.find('input').focus();
      bs.canvas.toggleClass('search-overlay');
    });
    
      bs.close.on('click', function() {
        $('.search-wrapper').removeAttr( 'style' );
        bs.searchform.toggleClass('active');
        bs.canvas.removeClass('search-overlay');
    });
  })( jQuery, window );
</script>


	        

</body>
</html>
